.collapsible-bar {
  .header {
    cursor: pointer;
    font-size: 90%;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    padding: 4px;
    &:hover {
      background: #444;
    }
  }
  .collapse-button {
    width: 1em;
    height: 1em;
    margin: 0 5px 0 5px;
    font-size: 60%;
    transition: 0.2s all linear;
    &.open {
      margin-top: 2px;
      transform: rotate(90deg);
    }
  }
  .collapsible-children {
    display: none;
    height: 0;
    opacity: 0;
  }

  &.open {
    background: #444;
    .collapsible-children {
      display: block;
      box-shadow: inset 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
      opacity: 1;
      height: auto;
      visibility: visible;
      padding: 10px;
    }
    .collapse-button {
      transform: rotate(90deg);
    }
  }
}
