._margin-right {
  margin-right: 10px;
}

._margin-left {
  margin-left: 10px;
}

._margin-bottom {
  margin-bottom: 10px;
}

._margin-top {
  margin-top: 10px;
}

._flex-fill {
  flex: 1 1 auto;
}

._flex-row {
  display: flex;
  flex-flow: row;
}

._align-center {
  align-items: center;
}

._place-center {
  place-content: center;
}

._clickable {
  cursor: pointer;
}
