.songHeader {
  z-index: 2;
  border-radius: 5px;
  padding: 8px 0;
  margin-left: 0;
  font-size: 120%;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: flex-start;
  flex: 0 0 100%;

  > .youtubeLink {
    margin-left: 0.5em;
    align-self: center;
    > a {
      display: block;
      line-height: 80%;
      color: #ccc;
    }
  }

  // > .right-side-block {
  //   display: flex;
  //   flex-flow: row nowrap;
  //   align-items: center;
  // }
}

@media screen and (max-width: 900px) {
  .songHeader {
    font-size: 110%;
    padding: 0.3em;

    > * {
      margin: 0.2em;
    }

    > .songName {
      word-break: break-word;
    }

    > .youtubeLink {
      margin-left: 0.2em;
      font-size: 110%;
    }

    // > .right-side-block {
    //   font-size: 110%;

    //   .players-hidden-count {
    //     font-size: 60%;
    //   }
    // }
  }
}
