.ranking-page {
  width: 100%;
  max-width: 800px;

  > .content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    > .ranking-list {
      width: 100%;
      > table {
        width: 100%;
      }
    }

    > .top-controls {
      align-self: stretch;
      display: flex;
      flex-direction: row;
      padding: 10px 10px 0 10px;
    }
  }

  .faq {
    font-size: 14px;
    .question-answer {
      padding: 8px;
    }
    .question {
      font-style: italic;
      font-weight: 600;
      margin-bottom: 5px;
    }
  }

  td,
  th {
    padding: 0.5rem 0.75rem;
    font-size: 14px;
    &.rating {
      text-align: center;
      white-space: nowrap;
      width: 3.5rem;
      text-align: right;
      &.secondary {
        color: #ccc;
      }
    }
    &.rating-change-cell {
      padding-left: 0;
      > .rating-change {
        font-size: 80%;
        color: #888;
        &.up {
          color: #4ebb4e;
        }
        &.down {
          color: #d66161;
        }
      }
    }
    &.playcount,
    &.accuracy {
      text-align: right;
    }
    &.accuracy {
      padding-right: 10px;
    }
  }
  th {
    padding-top: 0;
    padding-bottom: 0;
    color: #888;
    font-weight: normal;
    &.grades {
      text-align: center;
      img {
        height: 12px;
      }
    }
  }
  table {
    border-spacing: 0 6px;
    border-collapse: separate;
    vertical-align: middle;
  }
  tr.player {
    height: 40px;
    &.hidden-player {
      opacity: 0.3;
    }
    &:hover {
      td {
        background: #424242;
      }
    }
  }
  td {
    color: #888;
    background: #353535;
    margin-bottom: 5px;
    line-height: 120%;
    &:first-child {
      padding-left: 15px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    &.exp-rank {
      img {
        width: 2em;
      }
    }
    &.place {
      color: #c9c9c9;
      font-size: 17px;
      font-weight: bold;
      line-height: 100%;
      > svg {
        margin-top: 2px;
        font-size: 22px;
      }
    }
    &.name {
      color: #c9c9c9;
      font-size: 17px;
      font-weight: bold;
      width: 11rem;
      line-height: 140%;
      > .name-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        > .flag-img {
          margin-right: 7px;
          margin-bottom: 6px;
          opacity: 1;
          width: 22px;
          height: 16px;
        }
      }
    }
    &.rating {
      color: white;
      font-size: 17px;
      font-weight: bold;
    }
    &.rating-change-cell {
      font-size: 17px;
      font-weight: bold;
      text-align: left;
    }
    &.grades {
      text-align: right;
      &.sss,
      &.ss,
      &.s {
        color: #daa520;
      }
      &.a {
        color: #1274ba;
      }
      &.f {
        color: #d94d4d;
      }
    }
    &.hide-col {
      padding-right: 0.75em;

      > .toggle-checkbox {
        display: flex;
        justify-content: end;
        align-items: stretch;
      }
    }
    &.change {
      > .change-holder {
        display: flex;
        align-items: center;
        justify-content: center;
        &.up {
          color: #4ebb4e;
        }
        &.down {
          color: #d66161;
        }
        &.text {
          color: #5cb8e6;
        }
        > span {
          line-height: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .ranking-page {
    font-size: 3.2vw;
    .ranking-list {
      padding: 0.4em;
    }
    table {
      border-spacing: 0 1vw;
    }
    td,
    th {
      font-size: 80%;
      &.grades {
        display: none;
        img {
          height: 1.5vw;
        }
      }
      &.name-piu {
        display: none;
      }
      &.accuracy {
        padding-right: 1vw;
      }
    }
    tr.player {
      height: 7.4vw;
    }
    td {
      &.place {
        padding-left: 1.5vw;
        padding-right: 0;
        font-size: 80%;
        > svg {
          font-size: 140%;
        }
      }
      &.exp-rank {
        font-size: 75%;
      }
      &.total-score {
        padding: 1vw 0.5vw;
      }
      &.rating {
        font-size: 100%;
      }
      &.rating-change-cell {
        font-size: 100%;
      }
      &.hide-col {
        .toggle-checkbox {
          font-size: 100%;
        }
      }
    }
  }
}
