.profile-page {
  width: 100%;
  max-width: 940px;
  > .content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .text-with-header {
      line-height: 1.1;
      &.-select {
        .select {
          width: 160px;
        }
      }
      > .text-header {
        color: #888;
        font-size: 60%;
        margin-bottom: 3px;
      }
    }
    > .top-controls {
      align-self: stretch;
      display: flex;
      flex-direction: row;
      padding: 10px 10px 0 10px;
      .beta {
        font-size: 80%;
        padding-right: 10px;
      }
    }
    > .profile {
      width: 100%;
      padding: 0 15px;
      .recharts-wrapper {
        font-size: 70%;
      }
      > .profile-header {
        display: flex;
        flex-flow: row nowrap;
        font-size: 150%;
        padding: 10px;
        padding-left: 40px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
        white-space: nowrap;
        > div + div {
          margin-left: 40px;
        }
      }
      .profile-sm-section-header {
        font-size: 16px;
        padding: 0 8px 8px 8px;
        &.flex {
          display: flex;
          justify-content: space-between;
        }
        > span {
          padding-bottom: 3px;
          border-bottom: 1px solid #ccc4;
        }
      }
      .profile-section {
        background: var(--background-lv-1);
        margin: 10px 0;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-flow: column nowrap;
        .exp-range {
          font-size: 80%;
          padding: 10px;
          align-items: center;
          display: flex;
          flex-flow: row nowrap;
          > .exp-line-with-label {
            flex: 1 1 auto;
            padding: 0 10px 8px 10px;
            align-items: center;
            display: flex;
            flex-flow: column nowrap;
            > .exp-label {
              line-height: 1;
              > .taken-num {
                color: gold;
              }
            }
            > .exp-line {
              padding: 4px 0 6px 0;
              width: 100%;
              flex: 1 1 auto;
              align-items: center;
              display: flex;
              flex-flow: row nowrap;
              > .taken {
                background: gold;
                box-shadow: 0px 0px 4px 0px gold;
                height: 10px;
              }
              > .rest {
                background: #777;
                height: 10px;
              }
            }
          }
          > .rank {
            text-align: center;
            > img {
              width: 45px;
              margin-bottom: 2px;
            }
            > div {
              font-size: 80%;
              color: #ccc;
            }
          }
        }
        .single-double-labels {
          .recharts-wrapper {
            &::before {
              color: #777;
              position: absolute;
              display: block;
              content: 'Single';
              top: 10px;
              left: 50px;
            }
            &::after {
              color: #777;
              position: absolute;
              display: block;
              content: 'Double';
              bottom: 42px;
              left: 50px;
            }
          }
        }
        .profile-section-header {
          padding: 0 8px 8px 8px;
          border-bottom: 1px solid #ccc7;
        }
        .profile-section-content {
          flex: 1 1 auto;
          display: flex;
          flex-flow: column nowrap;
          > .profile-section-2 {
            width: 100%;
            flex: 1 1 auto;
            display: flex;
            flex-flow: column nowrap;
            > .profile-sm-section-header {
              > .toggle-holder {
                display: flex;
                justify-content: flex-end;
                flex-flow: row nowrap;
                > .toggle-checkbox {
                  flex: 0 0 auto;
                }
              }
            }
            > .chart-container {
              flex: 1 1 auto;
            }
          }
        }
        .range-container {
          padding: 0 15px 10px 15px;
          > .range-controls {
            padding-top: 5px;
            align-items: center;
            > .date-text {
              font-size: 12px;
              color: #bbb;
              flex: 0 0 7em;
              text-align: center;
            }
            > .btn {
              padding: 0 5px;
            }
          }
        }
      }
      .profile-section-horizontal-container {
        margin: 10px 0;
        display: flex;
        flex-flow: row nowrap;
        > .profile-section {
          width: 49.5%;
          margin: 0;
          + .profile-section {
            margin-right: 0;
            margin-left: 0.5%;
          }
          .profile-section-content > div {
            width: 100%;
          }
        }
      }
      .profile-section {
        .progress-blocks-single-double {
          display: flex;
          .progress-block {
            flex: 1 1 0px;
          }
        }
        .bonus-faq {
          font-size: 70%;
          text-align: right;
        }
        .achievements {
          display: grid;
          grid: auto-flow / repeat(5, 20%);
          .ach-block {
            flex: 0 0 15%;
            margin: 5px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            border: 1px solid #ccc4;
            border-radius: 10px;
            position: relative;
            height: 130px;
            > .ach-icon {
              font-size: 220%;
              line-height: 100%;
            }
            > .ach-name {
              text-align: center;
            }
            > .progress-background {
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              position: absolute;
              border-bottom: 3px solid #88d3ff;
              border-left: 3px solid #88d3ff;
              border-right: 3px solid #88d3ff;
              bottom: 0;
              left: 0;
              right: 0;
              &.complete {
                border-top: 3px solid #88d3ff;
                border-radius: 10px;
              }
              &.zero {
                border: none;
              }
            }
          }
        }
        .achievements-grades {
          display: flex;
          flex-flow: row nowrap;
          &.single .grade-level {
            color: #eabcbc;
          }
          &.double .grade-level {
            color: #bceac4;
          }
          .grade-block {
            flex: 1 1 0px;
            margin: 5px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            border: 1px solid #ccc4;
            border-radius: 10px;
            position: relative;
            height: 130px;
            > .grade-letter {
              margin-bottom: 10px;
              > img {
                height: 28px;
              }
            }
            > .grade-level {
              font-size: 150%;
              font-weight: bold;
            }
            > .grade-progress {
              font-size: 60%;
            }
            .progress-background {
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              position: absolute;
              // background: #88d3ff;
              border-bottom: 3px solid #88d3ff;
              border-left: 3px solid #88d3ff;
              border-right: 3px solid #88d3ff;
              bottom: 0;
              left: 0;
              right: 0;
              &.complete {
                border-top: 3px solid #88d3ff;
                border-radius: 10px;
              }
              &.zero {
                border: none;
              }
            }
          }
        }
      }
    }
  }
  .history-tooltip {
    background: #333;
    border: 1px solid #222;
    border-radius: 6px;
    padding: 6px 8px 3px 8px;
  }
}

.faq-exp {
  max-width: 650px;
  .faq-header {
    font-size: 100%;
    border-bottom: 1px solid #555;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
  .ranks-list {
    margin-left: 2%;
    display: grid;
    grid: auto-flow / repeat(9, 9%);
    grid-column-gap: 2%;
    grid-row-gap: 5px;
    .rank {
      text-align: center;
      > .threshold {
        font-size: 75%;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .achievement-tooltip {
    font-size: 130%;
  }
  .profile-page {
    font-size: 2.5vw;
    > .content > .profile {
      padding: 0 2vw;
      .chart-container {
        font-size: 16px;
      }
      > .profile-header {
        padding: 1vw;
        font-size: 18px;
        justify-content: space-between;
        > ._flex-fill {
          flex: 0 0 auto;
        }
        > .-select {
          flex: 1 1 auto;
          .select {
            width: 100%;
          }
        }
        > div + div {
          margin-left: 3vw;
        }
      }
      .profile-section-horizontal-container {
        margin: 1.5vw 0;
        display: block;
        > .profile-section {
          width: 100%;
          padding: 1.5vw;
          border-radius: 1.5vw;
          margin: 2vw 0;
        }
      }
      .profile-section {
        padding: 1.5vw;
        border-radius: 1.5vw;
        margin: 1.5vw 0;
        .exp-range {
          padding: 1.5vw;
          > .exp-line-with-label {
            > .exp-line {
              padding: 0.7vw 0 0.8vw 0;
              > .taken,
              > .rest {
                height: 1.5vw;
              }
            }
          }
          > .rank > img {
            width: 7vw;
          }
        }
        .profile-section-content {
          flex-flow: column nowrap;
          > div {
            width: 100%;
          }
        }
        .achievements {
          grid: auto-flow/repeat(3, 33%);
          .ach-block {
            height: 23vw;
          }
        }
        &.progress-section .progress-blocks-single-double {
          display: flex;
          flex-flow: column nowrap;
          .achievements-grades .grade-block {
            height: 23vw;
            > .grade-letter {
              margin-bottom: 1vw;
              > img {
                height: 5vw;
              }
            }
          }
        }
      }
    }
  }
}
