#root {
  --single_chart_color: #903034;
  --single_perf_chart_color: #973894;
  --double_chart_color: #38a532;
  --double_perf_chart_color: #357497;
  --coop_chart_color: #8e8b2a;
  --fresh_result_color: #afe488;
  --rank_mark_color: #a84a14;
  --hj_mark_color: #735d3b;
  --background-lv-1: #353535;
  --background-lv-2: #424242;
  --background-lv-3: #565656;
}
