.popup {
  background: #353535;
  border-radius: 0.5em;
  padding: 1em;
  max-height: 97%;
  max-width: 97%;
  width: 45em;
  box-shadow: 0 0 1em -0.2em black;
  font-size: 16px;
  overflow-y: auto;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
