name: Deploy WEB

on:
  workflow_dispatch:
  push:
    branches: ['master']
    paths: ['packages/web/**']

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 24
          cache: 'npm'
      - run: npm ci

      - name: Build
        run: npm run build:web

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: packages/web/build
