name: Deploy API (legacy)

on:
  workflow_dispatch:

jobs:
  test:
    uses: ./.github/workflows/test-api.yml
  build:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Connect to server and deploy API
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: api.pumpking.top
          username: piutop
          password: ${{ secrets.PIUTOP_PASSWORD }}
          script: |
            set -e
            cd ~/pumpking
            git status
            git pull
            npm install --no-save
            cd ./packages/api
            bash ./restart-server.sh
