name: Test Web Build

on:
  workflow_call:
  pull_request:
    branches: ['master']
    paths: ['packages/web/**']

jobs:
  test_web:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 24
          cache: 'npm'
      - run: npm ci

      - name: Build web
        run: npm run build:web
